[package]
name = "ttv"
description = "Create train, test and validation sets from text files"
version = "0.4.0"
authors = ["Ben Sully <ben@bsull.io>"]
repository = "https://github.com/sd2k/ttv"
keywords = ["cli", "data", "machine-learning"]
readme = "README.md"
edition = "2018"
license = "MIT/Apache-2.0"

[dependencies]
clap = { version = "2.33.3", features = ["yaml"] }
csv = "1.1.6"
env_logger = "0.8.4"
flate2 = "1.0.20"
indicatif = "0.15.0"
jemallocator = "0.3.2"
log = "0.4.14"
rand = "0.8.3"
rand_chacha = "0.3.0"
rayon = "1.5.1"
structopt = "0.3.21"
try_from = "0.3.2"
