[package]
name = "ttv"
version = "0.2.2"
authors = ["Ben Sully <ben.sully@yougov.com>"]
edition = "2018"

[dependencies]
clap = { version = "2.33.0", features = ["yaml"] }
env_logger = "0.6.2"
flate2 = "1.0.11"
indicatif = "0.11.0"
log = "0.4.6"
pad = "0.1.5"
rand = "0.7.0"
rand_chacha = "0.2.0"
rayon = "1.1.0"
structopt = "0.2.18"
try_from = "0.3.2"
