[package]
name = "ttv"
version = "0.3.0"
authors = ["Ben Sully <ben.sully@yougov.com>"]
edition = "2018"

[dependencies]
clap = { version = "2.33.0", features = ["yaml"] }
csv = "1.0.0"
env_logger = "0.7.1"
flate2 = "1.0.13"
indicatif = "0.12.0"
log = "0.4.8"
pad = "0.1.5"
rand = "0.7.2"
rand_chacha = "0.2.1"
rayon = "1.2.0"
structopt = "0.3.4"
try_from = "0.3.2"
