[package]
name = "ttv"
description = "Create train, test and validation sets from text files"
version = "0.4.0"
authors = ["Ben Sully <ben@bsull.io>"]
repository = "https://github.com/sd2k/ttv"
keywords = ["cli", "data", "machine-learning"]
readme = "README.md"
edition = "2021"
license = "MIT/Apache-2.0"

[dependencies]
clap = { version = "2.34.0", features = ["yaml"] }
csv = "1.1.6"
env_logger = "0.9.0"
flate2 = "1.0.22"
indicatif = "0.16.2"
jemallocator = "0.3.2"
log = "0.4.14"
rand = "0.8.4"
rand_chacha = "0.3.1"
rayon = "1.5.1"
structopt = "0.3.25"

[dev-dependencies]
trycmd = "0.9.1"
