[package]
name = "ttv"
version = "0.3.0"
authors = ["Ben Sully <ben.sully@yougov.com>"]
edition = "2018"

[dependencies]
clap = { version = "2.33.0", features = ["yaml"] }
csv = "1.1.2"
env_logger = "0.7.1"
flate2 = "1.0.13"
indicatif = "0.13.0"
log = "0.4.8"
rand = "0.7.2"
rand_chacha = "0.2.1"
rayon = "1.3.0"
structopt = "0.3.7"
try_from = "0.3.2"
